@use '@openmrs/esm-styleguide/src/vars' as *;

.patientSearchIconWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchIconButton {
  background-color: white;
  &:hover .searchIcon {
    background-color: #ddd;
  }
  &:hover {
    background-color: white;
  }
}

.searchIcon {
  padding: 10%;
  background-color: #eee;
  * {
    fill: black;
  }
}

.activeSearchIconButton {
  @include brand-02(background-color);
}
